<div class="inline back">
  <p class="inline city">Beijing</p>
  <p class="inline">: </p>
  <p class="inline" id=" timezone1">timezone</p>
  <p class="inline">|</p>
</div>

<div class="inline back">
  <p class="inline city">London</p>
  <p class="inline">: </p>
  <p class="inline" id="timezone2">timezone</p>
  <p class="inline">|</p>
</div>

<div class="inline back">
  <p class="inline city">Barcelona</p>
  <p class="inline">: </p>
  <p class="inline" id=" timezone3">timezone</p>
</div>

<div>
  <button (click)="read()">Get timezone</button>
</div>